<a href="https://colab.research.google.com/github/bogsin/ds-section1-sprint1-new/blob/main/n111a_EDA(1)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# üìù Assignment

# 1. Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞ Î∞è ÌôïÏù∏ 

- Îã§Ïùå urlÏóêÏÑú ÏóëÏÖÄ ÌååÏùºÏùÑ Î∂àÎü¨Ïò§ÏÑ∏Ïöî. (pandas excel) 
  - https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx
  - ÌååÏùºÏùÄ 2Í∞úÏùò ÏãúÌä∏Î°ú Íµ¨ÏÑ±ÎêòÏñ¥ ÏûàÏúºÎ©∞ Í∞ÅÍ∞Å Ïù¥Î¶ÑÏùÄ 008770, 035250 ÏûÖÎãàÎã§.

- Îç∞Ïù¥ÌÑ∞ÏÖã Î≥ÄÏàòÏùò Ïù¥Î¶ÑÏùÄ df1, df2Î°ú Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

- rowÍ∞Ä ÏïÑÎãå columnÏóê 'Îß§Ï∂úÏï°', 'ÏòÅÏóÖÏù¥Ïùµ' Ïù¥ Í∞ÄÎèÑÎ°ù Îç∞Ïù¥ÌÑ∞Î•º transpose ÌïòÏÑ∏Ïöî.

- Ïù¥ÌõÑ ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ Ï≤´Î≤àÏß∏ rowÎ•º column nameÏúºÎ°ú ÏÑ§Ï†ïÌïòÏÑ∏Ïöî. <br>
  https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row

- Îç∞Ïù¥ÌÑ∞Ïùò dimensionÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.

- Îç∞Ïù¥ÌÑ∞Ïùò Í≤∞Ï∏°ÏπòÍ∞Ä Ïñ¥ÎîîÏóê ÏûàÎäîÏßÄ ÌôïÏù∏ ÌõÑ 0ÏúºÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî.

- ÏùΩÏóàÎçò ÏóëÏÖÄ ÌååÏùºÏùò ÎÇ¥Ïö©ÏùÑ 2Í∞úÏùò csvÎ°ú Í∞ÅÍ∞Å Ï∂úÎ†•ÌïòÏÑ∏Ïöî. (python export csv) 
  - Ïù¥Î¶ÑÏùÄ Í∞ÅÍ∞Å df1.csv, df2.csv ÏûÖÎãàÎã§.

In [ ]:
import pandas as pd

data_url = "https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx"
df1 = pd.read_excel(data_url, sheet_name=0)
df2 = pd.read_excel(data_url, sheet_name=1)

df1 = df1.T

df1_columns = df1.iloc[0]

df1.columns = df1_columns

df1 = df1[1:]

df1

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),14753.0,574.0,574.0,376.0,274.0,277.0,-3.0,37747.0,28854.0,8893.0,...,3.62,324.45,395.1,692.0,31.19,23484.0,3.67,0.0,NaN,0.0
2019/12\n(IFRSÏó∞Í≤∞),15440.0,776.0,776.0,538.0,380.0,380.0,0.0,35273.0,26077.0,9195.0,...,5.81,283.59,411.78,950.0,21.4,24282.0,3.74,350.0,NaN,34.94
2020/03\n(IFRSÏó∞Í≤∞),9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.0,33188.0,24813.0,8375.0,...,1.25,296.28,368.36,-1839.0,63.76,22114.0,3.19,NaN,NaN,0.0
2020/06\n(IFRSÏó∞Í≤∞),5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.0,33039.0,25364.0,7676.0,...,-2.14,330.45,334.46,-1695.0,NaN,20265.0,3.5,NaN,NaN,0.0
2020/09\n(IFRSÏó∞Í≤∞),8795.0,-198.0,-198.0,-366.0,-285.0,-285.0,0.0,32683.0,25318.0,7365.0,...,-3.74,343.77,320.21,-712.0,NaN,19444.0,3.91,NaN,NaN,NaN
2020/12(E)\n(IFRSÏó∞Í≤∞),9980.0,50.0,NaN,-109.0,-100.0,-100.0,NaN,32388.0,25171.0,7216.0,...,NaN,348.79,NaN,-251.0,NaN,19187.0,4.22,NaN,NaN,NaN
2021/03(E)\n(IFRSÏó∞Í≤∞),9761.0,144.0,NaN,14.0,71.0,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,133.0,NaN,NaN,NaN,NaN,NaN,NaN
2021/06(E)\n(IFRSÏó∞Í≤∞),9820.0,265.0,NaN,172.0,214.0,123.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,308.0,NaN,NaN,NaN,NaN,NaN,NaN

# 2. Feature Engineering
- ÏïÑÎûò Îç∞Ïù¥ÌÑ∞Î•º Ï∞∏Ï°∞ÌïòÏó¨ 18/19ÎÖÑÎèÑÏóê ÎåÄÌï¥ÏÑú Price to Dream Ratio(PDR)Î•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.

 ## $\rm PDR = {ÏãúÍ∞ÄÏ¥ùÏï° \over Ìï¥Îãπ~Í∏∞ÏóÖÏù¥~Ìè¨Ìï®Îêú~Ï†ÑÏ≤¥~ÏãúÏû•~Í∑úÎ™®(TAM)~\times~ÏãúÏû•Ï†êÏú†Ïú®}$
  - Î≥ÄÏàò Ïù¥Î¶Ñ `df3`Î°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§. ÏïÑÎûòÏôÄ Í∞ôÏùÄ ÌòïÌÉúÏù¥Ïñ¥Ïïº Ìï©ÎãàÎã§. 
  - feature Ïù¥Î¶ÑÏùÄ `PDR`Î°ú, `df3['PDR']`ÏùÑ ÌÜµÌï¥ `~` Í∞íÏù¥ ÌôïÏù∏ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§. 
    - PDRÏóê 100ÏùÑ Í≥±Ìïú Î∞±Î∂ÑÏú®(%)ÏùÑ Íµ¨Ìï©ÎãàÎã§. 

||Íµ¨Î∂Ñ|Ï¢ÖÍ∞Ä|Î∞úÌñâÏ£ºÏãùÏàò|ÏãúÍ∞ÄÏ¥ùÏï°|ÏãúÏû•Ï†êÏú†Ïú®|ÏãúÏû•Í∑úÎ™®|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ÎÖÑ|101500|137292497|13935188445500|62.0|15000000000000|~|
|1|19ÎÖÑ|93800|137292497|12878036218600|63.5|15000000000000|~|

In [ ]:
d3 = {'Íµ¨Î∂Ñ':['18ÎÖÑ','19ÎÖÑ'],
    'Ï¢ÖÍ∞Ä':[101500,93800],
    'Î∞úÌñâÏ£ºÏãùÏàò':[137292497,137292497],
    'ÏãúÍ∞ÄÏ¥ùÏï°':[13935188445500,12878036218600],
    'ÏãúÏû•Ï†êÏú†Ïú®':[62.0,63.5],
    'ÏãúÏû•Í∑úÎ™®':[15000000000000,15000000000000]}
    
df3 = pd.DataFrame(data=d3)
df3

    Íµ¨Î∂Ñ      Ï¢ÖÍ∞Ä      Î∞úÌñâÏ£ºÏãùÏàò            ÏãúÍ∞ÄÏ¥ùÏï°  ÏãúÏû•Ï†êÏú†Ïú®            ÏãúÏû•Í∑úÎ™®
0  18ÎÖÑ  101500  137292497  13935188445500   62.0  15000000000000
1  19ÎÖÑ   93800  137292497  12878036218600   63.5  15000000000000

# 3. Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞ ÏÇ¥Ìé¥Î≥¥Í∏∞ 

- ÏôÄÏù∏ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§. 

- Í≥µÏãùÎ¨∏ÏÑúÎ•º Ï∞∏Ï°∞ÌïòÏó¨ Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê ÌôïÏù∏Ìï¥ Î¥ÖÎãàÎã§. <br>
  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/winequality-red.csv',sep=";",encoding="ISO-8859-1",header=0)
df2 = pd.read_csv('/content/drive/My Drive/winequality-white.csv',sep=";",encoding="ISO-8859-1",header=0)

df[df.duplicated(keep=False)]

#df.duplicates().sum()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur-dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1567,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1579,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1581,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6

# üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

## NA Value Handling

- Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨ÏòµÎãàÎã§. 

- 19ÎÖÑÎèÑ 4Î∂ÑÍ∏∞Ïùò ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞) Î∂ÄÎ∂ÑÏùÑ NaÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî

- Ïù¥ÌõÑ Ìï¥Îãπ Í≤∞Ï∏°ÏπòÎ•º mean imputation Î∞©Î≤ïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['Î∂ÑÍ∏∞', 'Îß§Ï∂úÏï°', 'ÏòÅÏóÖÏù¥Ïùµ', 'ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä)', 'ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ',
           'ÎãπÍ∏∞ÏàúÏù¥Ïùµ', 'ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞)', 'ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞)', 'ÏûêÏÇ∞Ï¥ùÍ≥Ñ', 'Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ',
           'ÏûêÎ≥∏Ï¥ùÍ≥Ñ', 'ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÏßÄÎ∞∞)', 'ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÎπÑÏßÄÎ∞∞)', 'ÏûêÎ≥∏Í∏à', 'ÏòÅÏóÖÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ',
           'Ìà¨ÏûêÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ', 'Ïû¨Î¨¥ÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ', 'ÏòÅÏóÖÏù¥ÏùµÎ•†', 'ÏàúÏù¥ÏùµÎ•†', 'ROE(%)',
           'ROA(%)', 'Î∂ÄÏ±ÑÎπÑÏú®', 'ÏûêÎ≥∏Ïú†Î≥¥Ïú®', 'EPS(Ïõê)', 'PER(Î∞∞)']

In [ ]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.

## Feature Engineering

Relative Perfomance ÎùºÎäî ÏÉàÎ°úÏö¥ featureÎ•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.

Ïù¥Îäî ÏµúÍ∑º 1ÎÖÑÏπò Îß§Ï∂úÏï°Ïùò ÌèâÍ∑†Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú 

- 10% Ïù¥ÏÉÅ -> `S`
- 5% Ïù¥ÏÉÅ -> `A`
- -5 ~ 5% -> `B`
- -5%Ïù¥Ìïò -> `C`
- 10%Ïù¥Ìïò -> `D`

ÎùºÎäî Í∞íÏùÑ Í∞ñÎäî featureÏûÖÎãàÎã§.

20ÎÖÑÎèÑ 2Î∂ÑÍ∏∞Ïóê Ìï¥ÎãπÌïòÎäî Í≤∞Í≥ºÍ∞íÏùÄ `A`Í∞Ä ÎÇòÏôÄÏïºÌï©ÎãàÎã§.

Í∞ÅÍ∞ÅÏóê Ìï¥ÎãπÌïòÎäî Îì±Í∏âÏù¥ ÎÇòÏò§Í∏∞ ÏúÑÌï¥ÏÑú ÌïÑÏöîÌïú Îß§Ï∂úÏï°ÏùÑ Ï∂îÍ∞ÄÎ°ú ÏÑúÏà†ÌïòÏÑ∏Ïöî.

In [ ]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.