<a href="https://colab.research.google.com/github/bogsin/ds-section1-sprint1-new/blob/main/n111a_EDA(1)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# 📝 Assignment

# 1. 데이터셋 불러오기 및 확인 

- 다음 url에서 엑셀 파일을 불러오세요. (pandas excel) 
  - https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx
  - 파일은 2개의 시트로 구성되어 있으며 각각 이름은 008770, 035250 입니다.

- 데이터셋 변수의 이름은 df1, df2로 저장하세요.

- row가 아닌 column에 '매출액', '영업이익' 이 가도록 데이터를 transpose 하세요.

- 이후 아래 링크를 참조하여 첫번째 row를 column name으로 설정하세요. <br>
  https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row

- 데이터의 dimension을 확인하세요.

- 데이터의 결측치가 어디에 있는지 확인 후 0으로 대체하세요.

- 읽었던 엑셀 파일의 내용을 2개의 csv로 각각 출력하세요. (python export csv) 
  - 이름은 각각 df1.csv, df2.csv 입니다.

In [ ]:
import pandas as pd

data_url = "https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx"
df1 = pd.read_excel(data_url, sheet_name=0)
df2 = pd.read_excel(data_url, sheet_name=1)

df1 = df1.T

df1_columns = df1.iloc[0]

df1.columns = df1_columns

df1 = df1[1:]

df1

주요재무정보,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,자본총계,...,ROA(%),부채비율,자본유보율,EPS(원),PER(배),BPS(원),PBR(배),현금DPS(원),현금배당수익률,현금배당성향(%)
2019/09\n(IFRS연결),14753.0,574.0,574.0,376.0,274.0,277.0,-3.0,37747.0,28854.0,8893.0,...,3.62,324.45,395.1,692.0,31.19,23484.0,3.67,0.0,NaN,0.0
2019/12\n(IFRS연결),15440.0,776.0,776.0,538.0,380.0,380.0,0.0,35273.0,26077.0,9195.0,...,5.81,283.59,411.78,950.0,21.4,24282.0,3.74,350.0,NaN,34.94
2020/03\n(IFRS연결),9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.0,33188.0,24813.0,8375.0,...,1.25,296.28,368.36,-1839.0,63.76,22114.0,3.19,NaN,NaN,0.0
2020/06\n(IFRS연결),5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.0,33039.0,25364.0,7676.0,...,-2.14,330.45,334.46,-1695.0,NaN,20265.0,3.5,NaN,NaN,0.0
2020/09\n(IFRS연결),8795.0,-198.0,-198.0,-366.0,-285.0,-285.0,0.0,32683.0,25318.0,7365.0,...,-3.74,343.77,320.21,-712.0,NaN,19444.0,3.91,NaN,NaN,NaN
2020/12(E)\n(IFRS연결),9980.0,50.0,NaN,-109.0,-100.0,-100.0,NaN,32388.0,25171.0,7216.0,...,NaN,348.79,NaN,-251.0,NaN,19187.0,4.22,NaN,NaN,NaN
2021/03(E)\n(IFRS연결),9761.0,144.0,NaN,14.0,71.0,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,133.0,NaN,NaN,NaN,NaN,NaN,NaN
2021/06(E)\n(IFRS연결),9820.0,265.0,NaN,172.0,214.0,123.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,308.0,NaN,NaN,NaN,NaN,NaN,NaN

# 2. Feature Engineering
- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio(PDR)를 계산하세요.

 ## $\rm PDR = {시가총액 \over 해당~기업이~포함된~전체~시장~규모(TAM)~\times~시장점유율}$
  - 변수 이름 `df3`로 데이터프레임을 생성합니다. 아래와 같은 형태이어야 합니다. 
  - feature 이름은 `PDR`로, `df3['PDR']`을 통해 `~` 값이 확인되어야 합니다. 
    - PDR에 100을 곱한 백분율(%)을 구합니다. 

||구분|종가|발행주식수|시가총액|시장점유율|시장규모|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|15000000000000|~|
|1|19년|93800|137292497|12878036218600|63.5|15000000000000|~|

In [ ]:
d3 = {'구분':['18년','19년'],
    '종가':[101500,93800],
    '발행주식수':[137292497,137292497],
    '시가총액':[13935188445500,12878036218600],
    '시장점유율':[62.0,63.5],
    '시장규모':[15000000000000,15000000000000]}
    
df3 = pd.DataFrame(data=d3)
df3

    구분      종가      발행주식수            시가총액  시장점유율            시장규모
0  18년  101500  137292497  13935188445500   62.0  15000000000000
1  19년   93800  137292497  12878036218600   63.5  15000000000000

# 3. 중복된 데이터 살펴보기 

- 와인 데이터셋을 사용합니다. 

- 공식문서를 참조하여 중복된 데이터를 모두 확인해 봅니다. <br>
  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/winequality-red.csv',sep=";",encoding="ISO-8859-1",header=0)
df2 = pd.read_csv('/content/drive/My Drive/winequality-white.csv',sep=";",encoding="ISO-8859-1",header=0)

df[df.duplicated(keep=False)]

#df.duplicates().sum()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur-dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1567,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1579,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1581,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6

# 🔥 도전과제

## NA Value Handling

- 데이터셋을 불러옵니다. 

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요

- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다.

## Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다.