<a href="https://colab.research.google.com/github/bogsin/ds-section1-sprint3-new/blob/main/n134%20-%20Gradient%20Descent/n134a_Gradient_Descent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 4*

---

# üìù Assignment

## 1. Dataset Î∂àÎü¨Ïò§Í∏∞
> seaborn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò load_dataset()ÏùÑ ÌôúÏö©Ìï¥ÏÑú iris Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î∂àÎü¨ÏòµÎãàÎã§. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ïù¥Î¶ÑÏùÄ df_irisÎ°ú Ìï©ÎãàÎã§.

In [1]:
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


## 2. X Íµ¨ÌïòÍ∏∞
> df_irisÏóêÏÑú sepal_lengthÎßå ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî. Í∑∏Î¶¨Í≥† sepal_length ÏπºÎüºÏùò Ïù¥Î¶ÑÏùÄ xÎ°ú Î∞îÍøâÎãàÎã§

In [34]:
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')

df_iris.rename(columns={'sepal_length':'x'}, inplace=True)

frame =df_iris[["x"]]
frame.head()

     x
0  5.1
1  4.9
2  4.7
3  4.6
4  5.0

## 3. Í∏∞Ï¥à ÎØ∏Î∂Ñ

Îã§Ïùå Ìï®ÏàòÎ•º ÎØ∏Î∂ÑÌïú ÎèÑÌï®ÏàòÎ•º Íµ¨Ìïú ÌõÑÏóê num_one Ìï®ÏàòÎ•º ÏôÑÏÑ±ÌïòÏÑ∏Ïöî. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one Ìï®ÏàòÎ•º xÏóê Ï†ÅÏö©Ìïú ÌõÑÏóê derivative_oneÏù¥ÎùºÎäî ÏπºÎüºÏúºÎ°ú df_irisÏóê Ï†ÄÏû•Ìï©ÎãàÎã§. (Hint : df.apply)
- derivative_one ÏπºÎüºÏùò Ìï©ÏùÑ `res1`Ïóê Ï†ÄÏû•Ìï©ÎãàÎã§ (ÏÜåÏàòÏ†ê ÏÑ∏ÏûêÎ¶¨ÍπåÏßÄ)

In [38]:
def num_one(x):
    return 20*(x**4) + 27*(x**2) + 2*(np.e)*x 

df_iris['derivative_one'] = df_iris['x'].apply(num_one)

res1 = df_iris['derivative_one'].sum()

res1

#from sympy import *
#import numpy as np

#x = Symbol('x')
#y = 4*x**5 + 9*x**3 + x**3 - 7
#yprime = y.diff(x)
#print(yprime)

4077643.108045289

- Ïù¥Î≤àÏóêÎäî scipyÏùò [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)Î•º ÌôúÏö©ÌïòÏó¨ derivative_two ÏπºÎüºÏúºÎ°ú Ï†ÄÏû•ÌïòÏÑ∏Ïöî.
  - dxÎäî 1e-7Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
- derivative_two ÏπºÎüºÏùò Ìï©ÏùÑ `res2`Ïóê Ï†ÄÏû•Ìï©ÎãàÎã§ (ÏÜåÏàòÏ†ê ÏÑ∏ÏûêÎ¶¨ÍπåÏßÄ)

In [39]:
from scipy.misc import derivative
def f(x):
   return 4*(x**5) + 9*(x**3) + np.e*(x**2) - 7

df_iris['derivative_two'] = derivative(f, df_iris['x'], dx = 1e-7)

res2 = df_iris['derivative_two'].sum()

res2

4077643.1205767947

## 2. ÎØ∏Î∂Ñ Ïó∞Ïäµ
>ÏïÑÎûòÏùò Ìï®ÏàòÎì§ÏùÑ ÎØ∏Î∂ÑÌïú ÌõÑÏóê **x = 5**Ïùº ÎïåÏùò Í≤∞Í≥ºÍ∞íÏùÑ `res3`, `res4`, `res5`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

 $f(x) = e^x$

In [46]:
def e_prime(x):
   return np.exp(x)

res3 = e_prime(5)

res3

148.4131591025766

$f(x) = lnx$

In [54]:
def ln_prime(x):
   return 1/x

res4 = ln_prime(5)
res4

0.2

$f(x) = (2x^2 + 8x)^2$

In [57]:
def f_prime(x):
    return 2*(2*x**2 + 8*x) * (4*x+8)

res5 = f_prime(5)
res5

5040

## 3. Ìé∏ÎØ∏Î∂Ñ

Ï£ºÏñ¥ÏßÑ `machine learning model`Ïùò `error function` ($\varepsilon$)Ïù¥ Îã§ÏùåÍ≥º Í∞ôÏùÑ Îïå `error function`ÏùÑ **ÏµúÏÜåÌôî** ÌïòÎäî ÏµúÏ†ÅÏùò `parameter`Îì§ÏùÑ  Íµ¨ÌïòÏÑ∏Ïöî. Í∑∏ ÌõÑ Í≤∞Í≥ºÎ•º Í∞ÅÍ∞Å `p1`, `p2`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- Îã® ÏµúÏ†ÅÏùò $p_1$ÏùÄ $p_2$Í∞Ä $3$ÏùºÎïå, ÏµúÏ†ÅÏùò $p_2$Îäî $p_1$Ïù¥ $10$ÏùºÎïåÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ìï©ÎãàÎã§.

In [ ]:
# error functionÏù¥ ÏµúÏÜåÌôî ÎêòÎäî Ï†êÏùÄ ÎØ∏Î∂ÑÍ∞í(ÎèÑÌï®ÏàòÏùò Í∞í)Ïù¥ 0Ïù¥ ÎêòÎäî Ï†êÏûÖÎãàÎã§.

In [73]:
from sympy import symbols, diff
x,y = symbols('x y', imaginary = True)
f = (((np.e)*x)-y)**2 + (50*y)

dfdx = diff(f,x)
p1 = dfdx.subs({y:3})
print(dfdx)
print(p1)

a,b = symbols('a b', imaginary = True)
r = (((np.e)*a)-b)**2 + (50*b)

dfdy = diff(r,y)
p2 = dfdx.subs({x:10})
print(dfdy)
print(p2)

14.7781121978613*x - 5.43656365691809*y
14.7781121978613*x - 16.3096909707543
0
147.781121978613 - 5.43656365691809*y

# üî• ÎèÑÏ†ÑÍ≥ºÏ†ú 

Îã§Ïùå Ìï®ÏàòÎ•º ÎØ∏Î∂ÑÌïòÏÑ∏Ïöî. Ïù¥ÌõÑÏóê x = 3Ïùº ÎïåÏùò Í≤∞Í≥ºÎ•º `challenge`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.  
$\sigma(x) = {{1} \over {1 + e^{-x}}}$

In [71]:
#from sympy import *
#import numpy as np

#x = Symbol('x')
#y = 1/(1+(np.e)**-x)
#challenge = y.diff(x)
#print(challenge)
################################
from sympy import symbols, diff
x,y = symbols('x y', imaginary = True)

f = 1/(1+(np.e)**-x)
dfdx = diff(f,x)
challenge = dfdx.subs({x:3})
print(dfdx)
print(challenge)
###################################
#def c_func(x):
#    return 1 / (1 + np.e ** (-x))

#challenge = derivative(c_func, 3, dx = 1e-6)
#challenge

1.0*2.71828182845905**(-x)/(1 + 2.71828182845905**(-x))**2
0.0451766597309121